@model WEBAfl3.Models.Component

<form asp-controller="">

    <div class="form-control">
        <select asp-for="ComponentType.ComponentTypeId" asp-items="@(new SelectList(@ViewBag.AllTypes, "ComponentTypeId", "ComponentName"))"></select>
    </div>
    <div class="form-group">
        <label asp-for="ComponentNumber">Component number</label>
        <input class="form-control" asp-for="ComponentNumber" />
    </div>
    <div class="form-group">
        <label asp-for="SerialNo">Serial No</label>
        <input class="form-control" asp-for="SerialNo"/>
    </div>
    <div class="form-group">
        <label asp-for="AdminComment">Admin comment</label>
        <input class="form-control" asp-for="AdminComment"/>
    </div>
    <div class="form-group">
        <label asp-for="UserComment">User comment</label>
        <input class="form-control" asp-for="UserComment" />
    </div>
    <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<ComponentStatus>()"></select>
    <br/>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Save"/>
    </div>
</form>